<!-- <input type="text" (input)= "onUpdateServerName($event)" class="form-control"> -->
<input type="text" [(ngModel)] = "serverName" class="form-control">
<p>{{serverName}}</p>
<button class = "btn btn-primary" [disabled] = "!allowNewServer"
(click) = "onCreateServer()">Add server</button>
<!-- <p>{{serverCreationStatus}}</p> -->
<p *ngIf = "serverCreated; else noServer">{{serverCreationStatus}}</p>
<ng-template #noServer>
  <p>{{serverCreationStatus}}</p>
</ng-template>

<app-server *ngFor = "let server of servers"></app-server>
