<h1>app component</h1>
<app-servers></app-servers>
<app-warningalert></app-warningalert>
<app-successalert></app-successalert>
<input type="text" class= "form-control" [(ngModel)] = "username">
<p>username: {{username}}</p>

<button type="button" class= "btn btn-primary" [disabled]="!username"
(click)= "username=''">Reset User</button>
<button type="button" class = "btn btn-primary"
(click) = "handleClick()">Display Details</button>
<p *ngIf = "flag===true">this is a secret paragraph</p>
<p *ngFor = "let counter of countArr" [ngStyle] = "{backgroundColor: counter>=5?'blue':'transparent'}"
[ngClass] = "{'white-text': counter>=5}"  >{{counter}}</p>
